<h1>Stupid Coaching</h1>

<div id="question">
  <p>
    <%= params[:question] %>
  </p>
  <p class="italic">
    —You
  </p>
</div>

<div id="answer">
  <p>
    <strong><%= @answer %></strong>
  </p>
  <p class="italic">
    —Your coach
  </p>
</div>

<%=  link_to "Ask another question", ask_path %>
